includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: 5
  paths:
    - src
  tmpDir: .tmp
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#^Class .+ extends @final class .+\.#'